In [14]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from sklearn.model_selection import train_test_split

In [15]:
train = pd.read_csv('./train.csv', sep=';')

In [16]:
def bmi(height, weight):
    return weight / (height^2)

In [17]:
train_cn = train.drop_duplicates()
train_cn['BMI'] = bmi(train_cn['HEIGHT'], train_cn['WEIGHT'])
train_cn = train_cn.drop(['HEIGHT', 'WEIGHT'], axis=1)

X = train_cn.drop('CARDIO_DISEASE', axis=1)
Y = train_cn['CARDIO_DISEASE']

/tmp/ipykernel_6456/1584197438.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cn['BMI'] = bmi(train_cn['HEIGHT'], train_cn['WEIGHT'])

In [18]:
train_cn

,AGE,GENDER,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE,BMI
0,50,2,110,80,1,1,0,0,1,0,0.364706
1,55,1,140,90,3,1,0,0,1,1,0.537975
2,52,1,130,70,3,1,0,0,0,1,0.383234
3,48,2,150,100,1,1,0,0,1,1,0.479532
4,48,1,100,60,1,1,0,0,0,0,0.354430
...,...,...,...,...,...,...,...,...,...,...,...
68778,53,2,120,80,1,1,1,0,1,0,0.447059
68779,62,1,140,90,2,2,0,0,1,1,0.807692
68780,52,2,180,90,3,1,0,1,0,1,0.580110
68781,61,1,135,80,1,2,0,0,0,1,0.447205
68782,56,1,120,80,2,1,0,0,1,0,0.428571

# Below is a description of the features:

- AGE:  integer (years of age)
- BMI: float (bmi of person)
- GENDER: categorical (1: female, 2: male)
- AP_HIGH: systolic blood pressure, integer
- AP_LOW: diastolic blood pressure, integer 
- CHOLESTEROL: categorical (1: normal, 2: above normal, 3: well above normal)
- GLUCOSE: categorical (1: normal, 2: above normal, 3: well above normal)
- SMOKE: categorical (0: no, 1: yes)
- ALCOHOL: categorical (0: no, 1: yes)
- PHYSICAL_ACTIVITY: categorical (0: no, 1: yes)

# And the target variable:

- CARDIO_DISEASE:  categorical (0: no, 1: yes)

In [19]:
train_cn.loc[train_cn['CARDIO_DISEASE']==1]

,AGE,GENDER,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE,BMI
1,55,1,140,90,3,1,0,0,1,1,0.537975
2,52,1,130,70,3,1,0,0,0,1,0.383234
3,48,2,150,100,1,1,0,0,1,1,0.479532
7,62,2,130,90,3,3,0,0,1,1,0.539773
15,46,2,120,80,1,1,0,0,0,1,0.643678
...,...,...,...,...,...,...,...,...,...,...,...
68776,54,1,130,90,1,1,0,0,1,1,0.402299
68777,58,1,150,80,1,1,0,0,1,1,0.479042
68779,62,1,140,90,2,2,0,0,1,1,0.807692
68780,52,2,180,90,3,1,0,1,0,1,0.580110
68781,61,1,135,80,1,2,0,0,0,1,0.447205

# Below is a description of the features:

- AGE:  integer (years of age)
- HEIGHT: integer (cm) 
- WEIGHT: integer (kg)
- GENDER: categorical (1: female, 2: male)
- AP_HIGH: systolic blood pressure, integer
- AP_LOW: diastolic blood pressure, integer 
- CHOLESTEROL: categorical (1: normal, 2: above normal, 3: well above normal)
- GLUCOSE: categorical (1: normal, 2: above normal, 3: well above normal)
- SMOKE: categorical (0: no, 1: yes)
- ALCOHOL: categorical (0: no, 1: yes)
- PHYSICAL_ACTIVITY: categorical (0: no, 1: yes)

# And the target variable:

- CARDIO_DISEASE:  categorical (0: no, 1: yes)

In [20]:
X

,AGE,GENDER,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,BMI
0,50,2,110,80,1,1,0,0,1,0.364706
1,55,1,140,90,3,1,0,0,1,0.537975
2,52,1,130,70,3,1,0,0,0,0.383234
3,48,2,150,100,1,1,0,0,1,0.479532
4,48,1,100,60,1,1,0,0,0,0.354430
...,...,...,...,...,...,...,...,...,...,...
68778,53,2,120,80,1,1,1,0,1,0.447059
68779,62,1,140,90,2,2,0,0,1,0.807692
68780,52,2,180,90,3,1,0,1,0,0.580110
68781,61,1,135,80,1,2,0,0,0,0.447205
68782,56,1,120,80,2,1,0,0,1,0.428571

In [21]:
l_p = len(train_cn.loc[train_cn['CARDIO_DISEASE'] == 1])
l_n = len(train_cn.loc[train_cn['CARDIO_DISEASE'] == 0])
w_0 = 1.0 / l_n
w_1 = 1.0 / l_p

In [22]:
l_p

33053

In [23]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y , test_size = 0.2)

model = keras.Sequential(
    [
        keras.Input(shape=(X_train.shape[1],)),
        keras.layers.BatchNormalization(),
        keras.layers.experimental.RandomFourierFeatures(
            output_dim=512, scale=10.0, kernel_initializer="gaussian"
        ),
        keras.layers.Dense(units=1, activation='sigmoid'),
    ]
)

model.compile(
    optimizer=keras.optimizers.Adam(1e-3), loss=keras.losses.hinge, metrics='accuracy'
)

model.fit(
    X_train,
    Y_train,
    batch_size=512,
    epochs=50,
    verbose=2,
    validation_data=(X_test, Y_test),
)

Epoch 1/50
102/102 - 2s - loss: 0.8935 - accuracy: 0.6596 - val_loss: 0.9871 - val_accuracy: 0.5057 - 2s/epoch - 17ms/step
Epoch 2/50
102/102 - 1s - loss: 0.8142 - accuracy: 0.7168 - val_loss: 0.9088 - val_accuracy: 0.5753 - 593ms/epoch - 6ms/step
Epoch 3/50
102/102 - 1s - loss: 0.7955 - accuracy: 0.7188 - val_loss: 0.8157 - val_accuracy: 0.6968 - 559ms/epoch - 5ms/step
Epoch 4/50
102/102 - 1s - loss: 0.7870 - accuracy: 0.7207 - val_loss: 0.7961 - val_accuracy: 0.7195 - 604ms/epoch - 6ms/step
Epoch 5/50
102/102 - 1s - loss: 0.7822 - accuracy: 0.7220 - val_loss: 0.7834 - val_accuracy: 0.7248 - 604ms/epoch - 6ms/step
Epoch 6/50
102/102 - 1s - loss: 0.7789 - accuracy: 0.7219 - val_loss: 0.7803 - val_accuracy: 0.7238 - 585ms/epoch - 6ms/step
Epoch 7/50
102/102 - 1s - loss: 0.7767 - accuracy: 0.7221 - val_loss: 0.7783 - val_accuracy: 0.7237 - 583ms/epoch - 6ms/step
Epoch 8/50
102/102 - 1s - loss: 0.7754 - accuracy: 0.7220 - val_loss: 0.7772 - val_accuracy: 0.7242 - 558ms/epoch - 5ms/step
Epoch 9/50
102/102 - 1s - loss: 0.7742 - accuracy: 0.7226 - val_loss: 0.7767 - val_accuracy: 0.7244 - 558ms/epoch - 5ms/step
Epoch 10/50
102/102 - 1s - loss: 0.7731 - accuracy: 0.7223 - val_loss: 0.7754 - val_accuracy: 0.7246 - 571ms/epoch - 6ms/step
Epoch 11/50
102/102 - 1s - loss: 0.7723 - accuracy: 0.7226 - val_loss: 0.7747 - val_accuracy: 0.7243 - 565ms/epoch - 6ms/step
Epoch 12/50
102/102 - 1s - loss: 0.7718 - accuracy: 0.7226 - val_loss: 0.7741 - val_accuracy: 0.7246 - 567ms/epoch - 6ms/step
Epoch 13/50
102/102 - 1s - loss: 0.7712 - accuracy: 0.7233 - val_loss: 0.7735 - val_accuracy: 0.7259 - 570ms/epoch - 6ms/step
Epoch 14/50
102/102 - 1s - loss: 0.7708 - accuracy: 0.7226 - val_loss: 0.7729 - val_accuracy: 0.7255 - 569ms/epoch - 6ms/step
Epoch 15/50
102/102 - 1s - loss: 0.7707 - accuracy: 0.7228 - val_loss: 0.7725 - val_accuracy: 0.7257 - 573ms/epoch - 6ms/step
Epoch 16/50
102/102 - 1s - loss: 0.7703 - accuracy: 0.7226 - val_loss: 0.7727 - val_accuracy: 0.7242 - 611ms/epoch - 6ms/step
Epoch 17/50
102/102 - 1s - loss: 0.7700 - accuracy: 0.7235 - val_loss: 0.7721 - val_accuracy: 0.7249 - 545ms/epoch - 5ms/step
Epoch 18/50
102/102 - 1s - loss: 0.7697 - accuracy: 0.7236 - val_loss: 0.7715 - val_accuracy: 0.7265 - 562ms/epoch - 6ms/step
Epoch 19/50
102/102 - 1s - loss: 0.7694 - accuracy: 0.7238 - val_loss: 0.7713 - val_accuracy: 0.7268 - 569ms/epoch - 6ms/step
Epoch 20/50
102/102 - 1s - loss: 0.7693 - accuracy: 0.7231 - val_loss: 0.7710 - val_accuracy: 0.7271 - 568ms/epoch - 6ms/step
Epoch 21/50
102/102 - 1s - loss: 0.7687 - accuracy: 0.7243 - val_loss: 0.7707 - val_accuracy: 0.7268 - 565ms/epoch - 6ms/step
Epoch 22/50
102/102 - 1s - loss: 0.7690 - accuracy: 0.7239 - val_loss: 0.7713 - val_accuracy: 0.7250 - 577ms/epoch - 6ms/step
Epoch 23/50
102/102 - 1s - loss: 0.7686 - accuracy: 0.7236 - val_loss: 0.7705 - val_accuracy: 0.7274 - 571ms/epoch - 6ms/step
Epoch 24/50
102/102 - 1s - loss: 0.7685 - accuracy: 0.7246 - val_loss: 0.7702 - val_accuracy: 0.7273 - 565ms/epoch - 6ms/step
Epoch 25/50
102/102 - 1s - loss: 0.7683 - accuracy: 0.7237 - val_loss: 0.7700 - val_accuracy: 0.7271 - 566ms/epoch - 6ms/step
Epoch 26/50
102/102 - 1s - loss: 0.7683 - accuracy: 0.7235 - val_loss: 0.7702 - val_accuracy: 0.7260 - 569ms/epoch - 6ms/step
Epoch 27/50
102/102 - 1s - loss: 0.7680 - accuracy: 0.7240 - val_loss: 0.7696 - val_accuracy: 0.7269 - 569ms/epoch - 6ms/step
Epoch 28/50
102/102 - 1s - loss: 0.7682 - accuracy: 0.7238 - val_loss: 0.7695 - val_accuracy: 0.7272 - 573ms/epoch - 6ms/step
Epoch 29/50
102/102 - 1s - loss: 0.7679 - accuracy: 0.7238 - val_loss: 0.7695 - val_accuracy: 0.7281 - 564ms/epoch - 6ms/step
Epoch 30/50
102/102 - 1s - loss: 0.7674 - accuracy: 0.7247 - val_loss: 0.7704 - val_accuracy: 0.7246 - 564ms/epoch - 6ms/step
Epoch 31/50
102/102 - 1s - loss: 0.7677 - accuracy: 0.7244 - val_loss: 0.7691 - val_accuracy: 0.7277 - 572ms/epoch - 6ms/step
Epoch 32/50
102/102 - 1s - loss: 0.7674 - accuracy: 0.7245 - val_loss: 0.7689 - val_accuracy: 0.7267 - 572ms/epoch - 6ms/step
Epoch 33/50
102/102 - 1s - loss: 0.7672 - accuracy: 0.7245 - val_loss: 0.7687 - val_accuracy: 0.7276 - 575ms/epoch - 6ms/step
Epoch 34/50
102/102 - 1s - loss: 0.7669 - accuracy: 0.7252 - val_loss: 0.7687 - val_accuracy: 0.7269 - 577ms/epoch - 6ms/step
Epoch 35/50
102/102 - 1s - loss: 0.7670 - accuracy: 0.7246 - val_loss: 0.7701 - val_accuracy: 0.7249 - 579ms/epoch - 6ms/step
Epoch 36/50
102/102 - 1s - loss: 0.7671 - accuracy: 0.7251 - val_loss: 0.7685 - val_accuracy: 0.7275 - 586ms/epoch - 6ms/step
Epoch 37/50
102/102 - 1s - loss: 0.7670 - accuracy: 0.7253 - val_loss: 0.7687 - val_accuracy: 0.7276 - 574ms/epoch - 6ms/step
Epoch 38/50
102/102 - 1s - loss: 0.7669 - accuracy: 0.7256 - val_loss: 0.7688 - val_accuracy: 0.7268 - 580ms/epoch - 6ms/step
Epoch 39/50
102/102 - 1s - loss: 0.7674 - accuracy: 0.7238 - val_loss: 0.7682 - val_accuracy: 0.7279 - 578ms/epoch - 6ms/step
Epoch 40/50
102/102 - 1s - loss: 0.7663 - accuracy: 0.7255 - val_loss: 0.7682 - val_accuracy: 0.7281 - 564ms/epoch - 6ms/step
Epoch 41/50
102/102 - 1s - loss: 0.7670 - accuracy: 0.7254 - val_loss: 0.7680 - val_accuracy: 0.7282 - 568ms/epoch - 6ms/step
Epoch 42/50
102/102 - 1s - loss: 0.7666 - accuracy: 0.7258 - val_loss: 0.7681 - val_accuracy: 0.7286 - 561ms/epoch - 6ms/step
Epoch 43/50
102/102 - 1s - loss: 0.7666 - accuracy: 0.7253 - val_loss: 0.7679 - val_accuracy: 0.7276 - 575ms/epoch - 6ms/step
Epoch 44/50
102/102 - 1s - loss: 0.7663 - accuracy: 0.7254 - val_loss: 0.7682 - val_accuracy: 0.7279 - 572ms/epoch - 6ms/step
Epoch 45/50
102/102 - 1s - loss: 0.7664 - accuracy: 0.7257 - val_loss: 0.7676 - val_accuracy: 0.7279 - 560ms/epoch - 5ms/step
Epoch 46/50
102/102 - 1s - loss: 0.7667 - accuracy: 0.7255 - val_loss: 0.7676 - val_accuracy: 0.7285 - 569ms/epoch - 6ms/step
Epoch 47/50
102/102 - 1s - loss: 0.7662 - accuracy: 0.7257 - val_loss: 0.7676 - val_accuracy: 0.7285 - 575ms/epoch - 6ms/step
Epoch 48/50
102/102 - 1s - loss: 0.7660 - accuracy: 0.7257 - val_loss: 0.7675 - val_accuracy: 0.7279 - 565ms/epoch - 6ms/step
Epoch 49/50
102/102 - 1s - loss: 0.7661 - accuracy: 0.7256 - val_loss: 0.7674 - val_accuracy: 0.7273 - 607ms/epoch - 6ms/step
Epoch 50/50
102/102 - 1s - loss: 0.7662 - accuracy: 0.7253 - val_loss: 0.7673 - val_accuracy: 0.7277 - 592ms/epoch - 6ms/step

In [25]:
model.save('model')

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: model/assets

INFO:tensorflow:Assets written to: model/assets